/* Layout Elements */

body > .row > [class*='coffee-span-'].column-1 {
  float: none;
  max-height: none;
}

div.responsive-picture.picture-1 > picture {
  margin: 0;
}

div.responsive-picture.picture-1 {
  position: static;
  left: auto;
  z-index: auto;
  max-width: 400px;
}

.row > [class*='coffee-span-'] > .container.container-1 {
  box-shadow: #777 2px 2px 40px 0;
  opacity: 1;
}