/* Interaction Elements */

button[type=submit].button-submit-1 {
  position: static;
  float: none;
  min-width: 0;
  max-width: none;
  width: 100%;
  background-color: #64b5f6;
  color: #000;
  text-align: center;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

button[type=submit].button-submit-2 {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: auto;
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 7px;
  padding-top: 18px;
  padding-right: 70px;
  padding-left: 70px;
  width: 100%;
  background-color: #e3f2fd;
  color: #000;
  vertical-align: middle;
  text-align: center;
  -webkit-transition-timing-function: ease;
     -moz-transition-timing-function: ease;
      -ms-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
}

/* Layout Elements */

body > .row > [class*='coffee-span-'].column-1 {
  float: none;
  max-height: none;
}